@import "tailwindcss";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.font-semibold,
.font-bold {
  font-weight: 400 !important;
}